.home_div{
    margin: 2%;
}

.img_div{
    text-align: center;
    margin-bottom: 2%;
}

.home_title{
    text-align: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(38, 38, 170) !important;
    margin-bottom: 2%;
}
