<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body p-5">
                <div class="text-center">
                    <img class="img_logo" title="Real Madrid Logo" alt="Real Madrid Logo" src="./assets/escudo.jpg">
                </div>
                <div class="text-center">
                    <h2>¿Has olvidado tu contraseña?</h2>
                </div>
                <p style="color: lightslategray;">Por favor, introduce tu email a continuación<br> Le enviaremos a dicha dirección un mensaje con instrucciones para reestablecer la misma</p>
                <form action="" method="">
                    <div class="form-group">
                        <input type="email" id="email" placeholder="Dirección de correo electrónico" class="form-control" name="" />
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary w-100" value="Reestablecer contraseña" name="">
                </form>
            </div>
            <div class="card-footer text-right">
                <small>¿La has recordado?<a routerLink="../login">Iniciar sesión</a></small>
            </div>
        </div>
    </div>
</div>