<br>
<div class="player_detail_div">
    <h1 class="title_detail">Los detalles del jugador seleccionado son los siguientes: </h1><br>
    <h3 class="subtitle_detail"><b>Identificador del jugador: </b>{{id}}</h3><br>
    <h3 class="subtitle_detail"><b>Nombre:</b> {{player.nombre}}</h3><br>
    <h3 class="subtitle_detail"><b>Apellidos:</b> {{player.apellidos}}</h3><br>
    <h3 class="subtitle_detail"><b>Posicion: </b>{{player.posicion}}</h3><br>
    <h3 class="subtitle_detail"><b>Goles:</b> {{player.goles}}</h3><br>
    <h3 class="subtitle_detail"><b>Asistencias:</b> {{player.asistencias}}</h3><br>
    <h3 class="subtitle_detail"><b>Edad: </b>{{player.edad}}</h3><br>
    <div class="player_button_div">
        <button id ="close_details" mat-raised-button color="primary" (click)="closeOrder()">Cerrar detalles</button>
    </div>
</div>


