h1,h3{
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(38, 38, 170) !important;
}

.player_detail_div{
    margin-left: 3%;
}

.player_button_div{
    text-align: center;
}

.title_detail{
    font-size: 35px;
}

.subtitle_detail{
    font-size: 21px;
}

