<footer id="dk-footer" class="main_footer dk-footer">
    <div class="copyright">
        <div class="container">
            <a class="navbar-brand" routerLink="/admin/home"><img class="img_footer" title="Real Madrid Logo" alt="Real Madrid Logo" src="./assets/footer_logo.jpg"></a>
            <div class="row">
                <div class="col-md-6">
                    <span>Copyright © 2022 Real Madrid C.F.</span>
                </div>
                

                <!-- End Col -->
                <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                                <a href="/admin/home">Home</a>
                            </li>
                            <li>
                                <a href="/admin/players">Jugadores</a>
                            </li>
                            <li>
                                <a href="/admin/about">El club</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Copyright Container -->
    </div>
</footer>
