.header_nav{
    margin-bottom: 2%;
    background-color: white !important;
}

.img_logo{
    width: 50%;
}

.header_links{
    font-size: 22px;
    margin-right: 8%;
    color: rgb(38, 38, 170) !important;
}

.logout_link{
    font-size: 22px;
    margin-right: 8%;
    color: white !important;
}